body {
  background-color: #d5ead5;
  margin: 5px;
}

.social-icons {
  text-align: right;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:50px;
  height:50px;
  margin-right: 20px;
}

ul {
  float: right;
}

h1 {
  font-size: 40px;
  font-family: times;
  font-style: oblique;
  color: black;
  margin-center: 0px;
  padding:0px;
  
}
h2 {
  color: black;
  font-family: times;
  border-bottom: solid;
  margin:0px;
  padding:0px;
	
  
}

h4 {
  font-size: 40px;
  font-family: times;
  font-style: oblique;
  color: black;
  margin-top: 0px;
  padding:0px;
  color: white;
}

.wedding-nav a:hover {
  
  color: black;
}


.wedding-nav > nav > li{
  float: left;
	

}

.wedding-nav{
  margin: 0px;
  border-bottom: solid;
  padding: 20px;
  background-color: #6b996b;
	
}

nav {
  font-size: 14px;
  list-style: none;
  padding: 2px 0px;
    
}
/*navigation bar*/
nav > li > a {
  color: #F4F4F4;
  padding: 0px 10px;
  line-height: 25px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .1em;
}


p > img {
  float: right;
  margin: 0px 8px;
	
}

.footer {
  position: fixed;
  right: 0;
  bottom: -5px;
  left: 0;
  padding: 0px;
  margin: 0px;
  background-color: #6b996b;
  text-align: center;
  color: white;
}