body {
  background-color: #d5ead5;
  margin: 5px;
}
h1 {
	font-size: 40px;
	font-family: times;
	font-style: oblique;
	color: black;
	margin-top: 0px;
	padding:0px;
  
}
h2 {
  color: black;
  font-family: times;
  	border-bottom: solid;
	margin:0px;
	padding:0px;
	
  
}

h3 {
	font-family: times;
}

.wedding-wrapper a:hover {
  
  color: black;
}


.wedding-wrapper > nav > li{
	float: left;
	

}



.wedding-wrapper{
	margin: 0px;
	border-bottom: solid;
	padding: 20px;
	background-color: #6b996b;
	
}

nav {
    font-size: 14px;
    
    list-style: none;
    padding: 2px 0px;
    
}
/*navigation bar*/
nav > li > a {
    color: #F4F4F4;
    padding: 0px 10px;
    line-height: 25px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .1em;
}

.footer {
	position: fixed;
	right: 0;
	bottom: -5px;
	left: 0;
	padding: 1rem;
	margin: 0px;
   background-color: #6b996b;
   text-align: center;
   color: white;
}